$charcoal: #292929;
$overpass: 'Overpass', sans-serif;
$be-vietnam: 'Be Vietnam', sans-serif ;
$sky-blue: #02C7D7;

$gold: #e8dbb8;

$red: #e64560;
$copper: #E26D1A;
$purple: #805EC3;

$light-red: #ffa1a1;
$light-copper: #f2c9a6;
$light-purple: #a685e8;
//
$purple: $light-purple;
