@use './variables' as *;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

$systemGray: #111a26;

.page-editor {
	display: inline-block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
	box-sizing: border-box;
	position: relative;
	background: #dddddd;
	overflow: hidden;
	border: thin solid $greyBorder;

	&__inner {
		width: 100%;
		height: 100%;
	}

	&__viewport-holder {
		position: relative;
		width: 100%;
		height: 100%;
		max-width: 100%;

		max-height: calc(100% - 40px);

		overflow: hidden;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	&__viewport-iframe {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		border: none;
		border-width: 0;
		background: white;
		box-sizing: content-box;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
		resize: "both";
		transform-origin: left top;
	}

	&__viewport-handle {
		position: absolute;
		width: 60px;
		height: 20px;
		bottom: 0;
		right: 0;

		cursor: all-scroll;
		transform-origin: right bottom;
		z-index: 10;
		transition: width 0.25s, height 0.25s;


		&:before {
			content: "RESIZE";
			color: #ddddff;
			text-align: center;
			font-size: 0.75rem;
			width: 100%;
			height: 100%;
			display: block;
			box-shadow: rgb(86, 111, 255, 0.1) 0px 0px 4px 2px,
				#000025ff -3px -3px 2px 0px inset,
				#0080ffcc 3px 3px 5px -1px inset;
			background: $systemGray;
			border-radius: 8px;
			border-bottom-right-radius: 0;
			cursor: all-scroll;
			z-index: 10;

		}

		&:hover,
		&:active {
			width: 80px;
			height: 80px;

			&:before {
				content: "Drag to resize viewport";
				padding: 4px;
				color: rgb(190, 253, 255);
				background-color: #020069;
				box-shadow: #00b3ffa0 0px 0px 3px 1px, #55555550 -2px -2px 7px 2px inset, #000033 3px 3px 4px 0px inset;
				border-bottom: 2px #00ffff solid;
			}

		}

		&:active:after {
			z-index: 8;
			position: fixed;
			background: transparent;
			display: block;
			left: -500px;
			top: -500px;
			bottom: -100px;
			right: -100px;
			content: "";
		}

	}

	&__dimensions {
		display: inline-block;
		border: 0.5px solid #bbbbbb;
		border-top-color: #00134d;
		border-left-color: #00134d;
		box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.1), inset -4px -4px 6px 0px rgba(49, 104, 186, 0.687);
		height: 36px;
		border-radius: 4px;
		padding: 4px 8px;
		margin-left: 8px;

		strong {
			color: black;
			font-weight: normal;
			color: #ffffff;
			font-size: 0.8rem;
			margin-right: 8px;
		}

		input {
			width: 70px;
			padding: 2px;
			box-sizing: border-box;
			border-radius: 3px;
			line-height: 1.0rem;
			font-size: 1.0rem;
			margin: 0 2px;
			margin-left: 8px;
			color: #222222;

			&:first-child {
				margin-left: 0;
			}

			border: none;
			background: #dddddd;

			&:focus {
				background: white;
			}
		}
	}

	&__menu {
		position: fixed;
		width: 100%;
		box-sizing: border-box;
		padding: 4px;
		background: $systemGray;
		color: white;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
		display: flex;
		flex-wrap: wrap;
		height: 40px;

		&--inline {
			position: relative;
			width: 100%;
			transform: none;
			left: 0;
		}
	}

	&__button {
		padding: 5px 8px;
		margin-right: 3px;
		height: 36px;
		box-sizing: border-box;

		background-color: $systemGray;
		color: white;
		// border: #888888 0.5px solid;
		// border-top-color: #5588ff;
		// border-left-color: #4488ff;
		border-radius: 0px;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		font-size: 0.9rem;
		border: none;
		display: inline-block;
		transition: background-color 0.25s,
			box-shadow 0.25s;
		box-shadow: rgb(86, 111, 255, 0.1) 0px 0px 4px 2px,
			#000025ff -3px -3px 2px 0px inset,
			#0080ffcc 3px 3px 5px -1px inset;

		&:hover {
			color: rgb(190, 253, 255);
			background-color: #020069;
			box-shadow: #00b3ffa0 0px 0px 3px 1px, #55555550 -2px -2px 7px 2px inset, #000033 3px 3px 4px 0px inset;
			border-bottom: 2px #00ffff solid;
		}
	}

	&__drawer-contents {
		color: white;

	}


	@media screen and (min-width: 1024px) {

		&__viewport-holder {
			max-height: calc(100% - 32px);
		}

		&__button,
		&__dimensions {
			height: 24px;
			line-height: 24px;
			padding: 0 6px;
		}

		&__dimensions {
			input {
				padding: 0 2px;
				font-size: 0.8rem;
				font-weight: bold;
			}
		}

		&__button {
			font-size: 0.8rem;
			text-transform: initial;
			letter-spacing: 2px;
		}


	}

}

.pe-drawer-contents {
	&__option {
		margin: 20px 10px;
	}
}