@import 'variables';

$charcoal: #292929;

.header {
  padding-top: 40px;
}
.primary-nav {
  display:inline-block;
  position: relative;
  float:right;
  width: 60%;
  top: 20px;
  &__ul {
    display: block;
  }
  &__li {
    display: inline-block;
    padding: 0 4px;
    &--full {
      display: inline-block;
    }
  }
  &__a {
    line-height: 15px;
  }
}

.logo {
  display: inline-block;
  margin: 0 0 0 60px;
  &__brand {
    display: inline-block;
    width: auto;
  }
  &__text-box {
    display: inline-block;
    vertical-align: top;
  }
  &__brand-text {
    margin: 0 auto 12px auto;
    width: 100%;
  }
  &__sub-brand-text {
    display: block;
    font-size: 17.6px;
    letter-spacing: 1.28px;
  }
}

.contact-info {
  display: none;
}

.secondary-nav {

  &__ul {
    display: block;
    width: 100%;
    padding: 0 30px 0 60px ;
    text-align: center;
  }
  &__li {
    display: none;
    position: relative;
    color: white;
    flex-grow: unset;
    padding: 0 30px;
    &--full, &--phone{
      display: inline-block;
    }
    &--phone {
      float:right;
      padding: 0;
      right: 0;
    }
    &:hover {
      color: $purple;
      .nav-dropdown {
        display: block;
        z-index: 30000;
      }
    }
  }
  &__a {
    display: none;
    &--full {
      display: block;
    }
    &--phone {
      display: inline-block;
    }
  }
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  left: 5px;
  width: 350px;
  padding: 0 25px;
  margin: 0;
  background: $charcoal;
  text-align: left;
  &__li {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
  }
  &__a {
    display: block;
    width: 100%;
    color: white;
    &:hover {
      color: $sky-blue;
      text-decoration: none;
    }
  }
}
