$light-charcoal: #666666;
$red: #f00;


$section-max-width: 1600px;


$brand-color:#02C7D7;
$brand-color-light:#61e2f7;
$charcoal: #4d4d4d;
$sub-brand-people: #e64560;
$sub-brand-chart: #805EC3;
$sub-brand-bourbon: #E26D1A;
$pegasus-white-logo: '../img/components/white-logo.svg';
