.accordian-button-drawer{

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  &__button {
    width: calc(100% - 15px);
    max-width: 300px;
    margin-bottom: 30px;
  }
  &__drawer {
    height: auto;
    max-height: 1200px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    &--hidden {
      max-height: 0;
    }
  }

}


@media all and (min-width: 600px) {
  .accordian-button-drawer{
    &__drawer {
      max-height: 800px;
      transition: max-height 0.3s ease-in;
      &--hidden {
        max-height: 0;
      }
    }

  }
}
