@import '_variables.scss';

$height:40px;
$ribbon-width: 225px;
$button-font-size:12px;

.cta-button{

	display: inline-block;
	width: 100%;
	max-width: $ribbon-width;
	height:$height;
	position:relative;
	vertical-align: middle;
	padding: 0;
	border: none;
	margin-left:15px;
	cursor:pointer;
	font-weight:400;
	font-family:'Be Vietnam';
	&--black{
		background: url('../img/components/cta-button-black-ribbon-svg.svg') no-repeat;
		color:white;
		background-size: cover;

	}

	&--white{
		background: url('../img/components/cta-button-white-ribbon-svg.svg') no-repeat;
		background-size: cover;
		background-position: left center;
		color:$charcoal;
	}

	&__text{
		display:block;
		font-size: $button-font-size;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.22px;
		position:absolute;
		right:15px;
  		top: 20px;
  		transform: translateY(-50%);
  		text-align: center;
		&--center {
			width: 70%;
			right: calc(50% - 10px);
			transform: translate(50%, -50%);
		}
	}

	&:hover{
		color:$brand-color;
		&:before{
			transform:translateX(10px);
			transition: transform 0.75s;
		}
	}



	&--blue-arrow, &--dark-arrow{
		&::before{
			background: url('../img/components/cta-button-blue-arrow.svg') no-repeat center;
		}
	}

	&::before{
		content:'';
		width:35px;
		height:$height;
		// background-size:contain;
		display:block;
		position:absolute;
		top: 0;
		left:-18px;
		transform:translateX(0);
		transition: transform 0.75s;
	}
}


@media all and (min-width: 940px){
	.cta-button{
		&--dark-arrow{
			&::before{
				background: url('../img/components/cta-button-dark-arrow.svg') no-repeat center;
			}
		}
	}
}


@media all and (min-width: 1024px){
		$button-font-size:18px;
		.cta-button{
		max-width:300px;


		&__text{
			font-size: $button-font-size;
			top:18px;
			&--center {
				width: 70%;
				right: 50%;
				transform: translate(50%, -50%);
			}
		}

	}
}
