.event-list {
  text-align: center;
  padding-top: 40px;
  &__li {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    vertical-align: top;
  }
}

.events-section {
  background: url('../img/components/dwp/concert-splash.jpg');
  background-size: cover;
  background-position: center;
  &__h1 {
    color: white;
    text-shadow: 0 0 20px black;
  }
  &__p {
    color: white;
    text-shadow: 0 0 10px black;
  }
}
@media all and (min-width: 800px) {
  .events-section {
    background-position: top;
  }
  .event-list {

    &__li {
      width: 280px;
      margin: 20px 20px;
    }
  }
}
@media all and (min-width: 1024px) {

  .event-list {
    &__li {
      margin: 20px 50px;
    }
  }
}
@media all and (min-width: 1200px) {

  .event-list {
    &__li {
      width: 300px;
      margin: 20px 50px;
    }
  }
}
