.hero-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,.5);
  &__content {
    position: relative;
    z-index: 1;
  }
  &__h1 {
    position: relative;
    color: white;
    max-width: 1200px;
    letter-spacing: 5px;
  }
  &__p {
    position: relative;
    color: white;
  }
  &__cta {
    position: relative;
    text-align: center;
    margin: auto;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #12031b91;
  }
}



.collab-box {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  &__img {
    display: block;
    width: 45%;
    height: auto;
    max-width: 150px;
    margin: auto;
    margin-bottom: 10px;
    -ms-interpolation-mode: bicubic;
    &:first-child {
      width: 50%;
      max-width: 175px;
    }
  }
  &__plus {
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px black;
    margin-bottom: 10px;
  }
}


@media all and (min-width: 600px) {

  .hero-section {
    &__h1 {
      line-height: 45px;
    }
  }


}

@media all and (min-width: 940px) {

  .hero-section {
    &__h1 {
      line-height: 60px;
    }
  }
  .collab-box {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    &__img {
      display: inline-block;
      vertical-align: middle;
      width: 33%;
      margin: 3%;
    }
    &__plus {
      display: inline-block;
      vertical-align: middle;
      font-size: 90px;
      margin: 3%;
    }
  }
}

@media all and (min-width: 1024px) {

  .hero-section {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      background: url('../img/arrow-blue.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 95%;
      opacity: 0.08;
    }
  }
}

@media all and (min-width: 1200px) {

  .hero-section {
    &__h1 {
      font-size: 54px;
      line-height: 85px;
    }
  }
}
