
//==============================
//========  Distilled  ========
//=============================



// Custom Tours Page

.full-service-list {
  background:  #fbf4f1;
  padding: 5px;
  &__li {
    padding: 15px 20px;
    color: $charcoal;
    &:nth-child(even){
      background: white;
    }
  }

}
