$commonMaxWidth: 900px;

a{
	color:#02C7D7
}

h2{
	font-size:20px;
	margin-bottom:10px;
}

h3{
	font-size:18px;
	margin-bottom:10px;
}

strong{
	font-weight:bold;
}

.ql-toolbar {
	background: white;
}

.section__common-text{
	h1{
		margin-bottom:10px;
	}

	p{
		max-width: $commonMaxWidth;
	    line-height: 24px;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    padding:0 20px;
	    
	}

	ul{
		list-style: disc;
		padding-left:40px;
	}

	ol{
		list-style:decimal;
	}
}
