.section {
  &--base {
    margin-bottom: 30px;
  }
  &__content {
    &--base {
      padding: 0 30px;
      margin: 0 auto;
    }
  }
  &__header {
    &--base {
      padding: 0 30px;
      margin-bottom: 60px;
    }
  }
}

@media all and (min-width: 360px) {
  .section {
    &--base {
      margin-bottom: 40px;
    }
    &__content{
      &--base {
        padding: 0 30px;
      }
    }
  }
}

@media all and (min-width: 900px) {
  .section {
    &--base {
      margin-bottom: 100px;
    }
    &__content{
      &--base {
        padding: 0 30px;
      }
    }
  }
}
