@import "./_variables.scss";

body {
	font-family: 'Source Sans Pro', sans-serif;
}

*{
	box-sizing:border-box;
}

@function encodeColor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}




@function angleShape($color, $flip:false){
	$encodedColor: encodeColor($color);
	$points:"0,0 0,100 100,100";
	@if($flip){
		$points:"100,0 100,100 0,100";
	}
	@return  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 100' preserveAspectRatio='none' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='#{$points}' class='section__angle' fill='#{$encodedColor}' shape-rendering='geometricPrecision ' /%3E%3C/svg%3E");
}

@function leftAngleShape($color) {
	@return angleShape($color, false);
}


$sectionPadding:30px;

// .spacer-section {
// 	height:200px;
// }


// ======================================
// 				CONTENT SECTION BASE
// ======================================
.section {
	margin-bottom: 60px;
	overflow:hidden;

	&__common-text{
		max-width:900px;
		line-height: 24px;
    	margin: 0 auto;
	    margin-bottom: 20px;
	    padding:0 10px;
	}

	&__cta-container--desktop-only{
		display:none;
	}

	// all sections should have the same font sizes
	&__header{
			padding: 60px $sectionPadding;
	}

		&__h1{
			font-size: 24px;
			min-height:50px;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing:1px;
			line-height:1.2;
			font-family: 'Be Vietnam', sans-serif;
			margin:0 auto;
			margin-bottom:40px;
			text-align:center;
			color:$charcoal;
			padding:0 10px;
			&--primary {
				color: $brand-color;
			}
			&--chauf {
				color: $sub-brand-people;
			}
			&--dist {
				color: $sub-brand-bourbon;
			}
			&--chart {
				color: $sub-brand-chart;
			}
		}

	&__content {
		padding:60px $sectionPadding;
		padding-bottom:60px;
		line-height:1.5;
	}
		&__p {
			position:relative;
			z-index:1;
			max-width: 600px;
			margin:0 auto;
			font-size:18px;
		}

		&__em {
			color: $brand-color;
			font-style: normal;
		}



		&__cta-container {
			padding-top:20px;
			margin:0 auto;
			max-width:600px;
		}
		&__img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	// ======================================
	// 				LEFT ALIGN SECTION
	// ======================================
		&--left-align{
	  	text-align: left;
	  	padding:0 20px;
		ul{
			text-align: left;
		}

		p{
			margin-bottom:20px;
		}

		h2{
			margin-bottom: 30px;
		    font-size: 1.2em;
		    font-weight: bold;
		}

		ul{
			margin-bottom:20px;
		}
	  }

	// ======================================
	// 				DIVIDED SECTION
	// ======================================
	&--divided {
	 .section{

			&__header {
				background-size:cover;

				text-align:center;
				background-position: center center;
			}

				&__h1 {
					display: inline-block;
					padding-left:80px;
					background-image: url($pegasus-white-logo);
					background-repeat: no-repeat;
					background-size: 60px;
					background-position: 0px center;
					margin:0;
					// background-position: center bottom;
					text-align: left;
					color:white;
				}


			&__content {
				background-size: cover;
				background-repeat:no-repeat;
				color:white;
				position:relative;
				padding:0;

				&--divided {
					background-position: center;
				}
				// LIGHT VERSION
				&--lightbkg {
					background:white;
					color: $charcoal;
				}
			}

				&__inner-content {
					padding:60px $sectionPadding;
					padding-bottom:60px;
				}
		} // end of base divided section

		// ====================
		// 		HERO SECTION
		// ====================
		&-hero .section{

			&__em {
				color:$brand-color-light;
			}

			&__h1 {
				padding-left:0px;
				background-image:none;

				// we need the hero font slightly larger on mobile only
				@media(max-width:360px) {
					font-size:30px; // HERO FONT SIZE
				}
				text-shadow: 0 0 10px rgb(0,0,0);
				margin-bottom:30px;
			}

			&__cta-container{
				text-shadow: none;
				padding-top:20px;
			}

			&__header .section__cta-container {
				max-width:none;
			}
		}
	}
}




// ##################################################
//
// ================= SLIGHTLY MORE REASONABLE PHONE
//
// ##################################################
@media(min-width:360px) {
	.section{
		margin-bottom: 80px;
		&__h1 {
			font-size:34px;
		}
	}

}



// ##################################################
//
// ================= TABLET =============
//  	first place where sections go side-by-side
// ##################################################
@media(min-width:940px) {

	.column-section{
		&--double{
			.section__column{
				width:45%;
			}
		}

		&--triple{
			.section__column{
				width:29%;
			}
		}

		&--single{
			.section__column{
				width:100%;
			}
		}

		
	}

	.section__angle {
		fill: #ff0000;
		width:30px;
	}

	.section__cta-container--mobile-only{
		display:none;
	}

	.section__cta-container--desktop-only{
		display:block;
	}

	// ===================
	//			SECTIONS
	// ===================
	.section {

		margin-bottom: 100px;

		&__h1{
				font-size: 42px;
		}
		&__img {
			display: none;
		}

		// ======================================
		// 				column SECTION
		// ======================================

		 &__p--center-align{
		 	text-align:center;
		 }

		 &__column{
		 	display: inline-block;
		    width: 33%;
		    padding: 0 20px;
		    vertical-align: top;
		    padding:20px;
		    margin:20px;


		    & h2{
		    	text-align:center;
		    }
		 }

		$divide:60%;
		&--divided {
			position:relative;

			box-sizing:border-box;
			.section{
				&__header, &__content {
					display:inline-block;
					min-height:400px;
				}

				&__header {
					width: $divide;
					vertical-align: top;
				}

				&__h1 {
					position:absolute;
					top:50%;
					left:0;
					transform: translateY(-50%);
					width: $divide;
					padding: 40px;
					padding-left: 160px;
					background-image: url($pegasus-white-logo);
					background-size:100px;
					background-position: 40px center;

				}

				&__inner-content {
					position:absolute;
					top:50%;
					transform: translateY(-50%);
					padding: 50px;
					padding-right: 20px;
				}

				&__content {
					width: (100% - $divide);

				}


			}
		}
	}
}

@mixin colorSection($name, $color) {
	.section--#{$name} {

		&.section--divided-hero .section__content {
			background: $color;
		}

		.section__header {
			background-color: $color;
		}
		.section__header:after{
			background: angleShape($color, false);
			background-size: 100% 100%;
		}

		&.section--divided-up .section__header:after{
			background: angleShape($color, true);
			background-size: 100% 100%;
		}
	}


}

// ##################################################
//
// ================= COLORS =============
//
// ##################################################
// do all the colors at once
@include colorSection('chauf',$sub-brand-people);
@include colorSection('chart',$sub-brand-chart);
@include colorSection('dist',$sub-brand-bourbon);
@include colorSection('primary',$brand-color);

// ##################################################
//
// ================= DESKTOP =============
//
// ##################################################


@mixin dividedSectionCalculation($divide, $angleWidth, $angleHeight){
	.section {
		&__header{
			
			width: $divide;
			&:after {
				width: $angleWidth;
				height: $angleHeight;
				left: $divide;
			}

		}

		&__content {
			width: (100% - $divide);
		}
		&__inner-content {
			padding-left:$angleWidth;
		}
	}

	&.section--divided{
		display: flex;
		&-up {
			.section__h1 {
				padding-right:80px;
			}
			.section__content {
				padding-left:10px;
			}
			.section__inner-content {
				padding-left:0px;
			}
			.section__header{
				&:after {
					transform:translateX(-100%);
				}
			}
		}

		//angle going down
		&-down {
			.section__header {
				width:100% - $divide;
				&:after{
					left: calc(#{100% - $divide} - 1px);
				}
			}
			.section__content {
				width: calc(#{$divide} );
			}
			.section__h1 {
					z-index:10;
					width: calc(#{100% - $divide} - 40px);
				}
		}

		// white over an image
		&-header-image {
			.section__header {
				width: calc( 100% - #{$divide} + #{$angleWidth});

				&:after{
					left: calc( 100% - #{$divide} + #{$angleWidth});
					background: angleShape(white,true);
					background-size: 100% 100%;
					transform:translateX(-100%);
				}
			}

			.section__content {
				width: calc(#{$divide} - #{$angleWidth} );
			}

			.section__h1 {
				padding-right:0px;
				z-index:10;
				width:100% - $divide;
			}

			.section__inner-content {
				padding-left:80px;
			}
		}

	}
}

@media (min-width: 1024px) {
$divide:65%;
$angleWidth:200px;
$sectionHeight:500px;
	.section {

		&__header{
				font-size: 63px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing:0.75;
			// new stuff
			
		}

		&__h1 {
			font-size: 50px;
		}

		&__img {
			display: block;
	    width: 40%;
	    float: left;
	    margin-right: 20px;
	    margin-top: 6px;
		}
		// =========== DIVIDED SECTIONS

		&--divided {

			min-height:$sectionHeight;

			.section{
				// these sections will be fixed height
				// otherwise the angle eats too much space

				&__header, &__content{
					height:$sectionHeight;
				}

				&__header {
					padding:10px;
					color:white;

					&:after {
						content: "";
						display:block;
						position:absolute;
						bottom:0px;
						line-height:0;
						z-index:1;
						box-sizing:border-box;
					}
				}

			}

			// if the section is not the hero, apply the big angle values using the mixin, else apply small angle values:
			@include dividedSectionCalculation(65%, 200px, 500px);

			&:not(.section--divided-hero) {
				@include dividedSectionCalculation(50%, 120px, 200px);
			}


		}
	}
}


@function dividedWidth($percent, $maxWidth, $inverted: false, $extra:0px) {
	@if($inverted){
		$percent:(100% - $percent);
		$extra: $extra*-1;
	}

 @return calc( (100% - #{$maxWidth})/2 + #{$maxWidth * $percent / 100%} - #{$extra});
}

// mixin for divided section calculations
@mixin fullWidthDividedSection($maxWidth, $sectionHeight, $divide, $angleWidth, $angleHeight){
	.section {
		min-height:$sectionHeight;
		height:$sectionHeight;

		&__header, &__content{
			height:$sectionHeight;
		}

		&__header {
			padding:10px;
			color:white;
			width: dividedWidth($divide, $maxWidth);
			
			&:after {
				width: $angleWidth + 6px;
				height: $angleHeight;
				left: dividedWidth($divide, $maxWidth, false);
			}
		}

		&__h1 {
			width: calc(#{$maxWidth * $divide / 100% - 100px});
			left: calc((100% - #{$maxWidth})/2 + 20px);
			background-size: 110px;
			background-position: 0 center;
			padding-left:140px;
		}
		&__content {
			width: dividedWidth($divide, $maxWidth, true);
		}
		&__inner-content {
			width: $maxWidth * (100% - $divide) / 100%;
		}
	}

	&.section--divided {
		&-up {
			.section__h1 {
				padding-right:$angleWidth/1.5;
			}
			.section__content {
				padding-left:10px;
			}
			.section__inner-content {
				padding-left:0px;
			}
			.section__header{
				&:after {
					transform:translateX(-99.9%);
				}
			}
		}

		//angle going down
		&-down {
			.section__header {
				width: dividedWidth($divide, $maxWidth, true);
				&:after{
					left:dividedWidth($divide, $maxWidth, true, -1px);
				}
			}
			.section__content {
				width: dividedWidth($divide, $maxWidth, false);
			}
			.section__h1 {
				padding-right:50px;
				z-index:10;
				width:$maxWidth * (100% - $divide) / 100% - 20px;
			}
			.section__inner-content {
				padding-left:$angleWidth;
				width:$maxWidth * ($divide) / 100%;
			}
		}

		// white over an image
		&-header-image {
			.section__header {
				width: dividedWidth($divide, $maxWidth, true, $angleWidth);
				padding-right: $angleWidth*1.5;
				&:after{
					left: dividedWidth($divide, $maxWidth, true, $angleWidth + 1px);
					background: angleShape(white,true);
					background-size: 100% 100%;
					transform:translateX(-100%);
				}
			}

			.section__h1 {
				width: $maxWidth * (100% - $divide) /100%;
			}
			.section__content {
				width: dividedWidth($divide, $maxWidth, false, $angleWidth);
			}
			.section__inner-content {
				width:$maxWidth * ($divide) / 100% - $angleWidth;
			}
		}
	}

}

$maxWidth:1200px;
@media(min-width:$maxWidth ) {
$divide:65%;
$angleWidth:300px;
$sectionHeight:600px;
	.section {


		&__h1 {
			font-size: 60px;
		}

		&--divided {
			@include fullWidthDividedSection($maxWidth, $sectionHeight, $divide, $angleWidth, $sectionHeight);
			&:not(.section--divided-hero){
				@include fullWidthDividedSection($maxWidth, $sectionHeight, 50%, 120px, 200px);
			}
		}

	}
}



@media(min-width:1350px ) {

	.section {
		&__header {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		&--divided {
			.section{

				&__content {
					padding-right:0;
				}

			}
		}
	}

}

#page-editor {
	.section--divided-hero {
		.section__header {
			&::after {
			  top: 0;
			}
		  }
	}
	.section--divided {
		display: block;

		&:not(.section--divided-hero){
			&.section--divided {
				bottom: 23px;
			}
			&.section--divided-down {
				& .section__header::after {
					bottom: 60px;
				}
			}
		}
	}
	
}