.social-media-info {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  &__box {
    display: inline-block;
    position: relative;
    background: $brand-color;
    width: 100%;
    min-height: 300px;
    vertical-align: top;
    margin-bottom: 40px;
    padding: 20px;

    &--chauf {
      background: $sub-brand-people;
    }
    &--dist {
      background: $sub-brand-bourbon;
    }
  }
  &__h2 {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
  }
  &__pegasus-logo {
    display: none;
    position: absolute;
    width: 130px;
    height: auto;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__icons {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 45px;
  }
  &__a {
    display: inline-block;
    margin: 0 5%;
  }
  &__img {
    width: 40px;
    height: 40px;
  }
}

.social-media-section {
  &__content {
    padding: 0 30px;
  }
  &__h1 {
    margin-bottom: 50px;
  }
}

@media all and (min-width: 600px) {
  .social-media-info {
    &__box {
      width: 45%;
      min-height: 350px;
      margin: 0 2%;
      margin-bottom: 40px;
      padding: 45px;
    }
    &__img {
      width: 65px;
      height: 65px;
    }
    &__a {
      margin: 0 8%;
    }
  }

}
@media all and (min-width: 1024px) {
  .social-media-section {
    &__h1 {
      margin-bottom: 80px;
    }
  }

}
@media all and (min-width: 1200px) {
  .social-media-info {
    &__box {
      width: 28%;
      margin: 0 2%;
      margin-bottom: 40px;
    }
  }

}

//page editor styles

#page-editor{
  .social-media-info__box{
    padding-bottom:166px;
  }
}