.tour-list {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  &__li {
    display: inline-block;
    margin-bottom: 15px;

  }
}

.tours-section {
  &__content {
    margin:auto;
    max-width: 1200px;
    padding: 0 30px;
  }

}

@media all and (min-width: 650px) {

  .tour-list {
    &__li {
      margin: 0 30px;
      margin-bottom: 15px;
    }
  }
}

@media all and (min-width: 1024px) {

  .tours-section {
    &__p {
      margin-bottom: 40px;
    }
  }

}
