.tour-equation-container {
  display: block;
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  padding:0 50px;
}

.equation{
  &__operator-sign{
    max-width:35px;
    margin:20px 0;

    &__--equals{
      margin:35px 0;
    }
  }

  &__item{
    &__image{
      max-width:120px;
    }
  }
}


@media all and (min-width: 600px) {

}

@media all and (min-width: 1024px) {
  .tour-equation-container{
    display: flex;
    justify-content: space-between
  }

  .equation{

     &__operator-sign{
      padding: 16px 0 105px 0;
      max-width:45px;
    }

    &__operator-sign__container{
      display:flex;
      align-items: center;
    }

    &__item{
      &__image{
        max-width:150px;
      }
    }
  }
}
