.tour-card {
  min-width: 315px;
  max-width: 320px;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  &__h2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &__angle {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &__body {
    display: inline-block;
    background-size: cover;
    margin-bottom: 15px;
    background-position:center;
    min-width:315px;
  }

  &__top-bar {
    position: relative;
    width: 100%;
    height: 40px;
    vertical-align: top;
    margin-bottom: 205px;
  }
  &__price {
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    width: 50%;
    height: 100%;
    line-height: 40px;
    text-align: center;
  }
  &__category {
    &-angle {
      left: calc(50% - 26px);
    }
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 40px;
    float: right;
    text-align: center;

    background: $sub-brand-bourbon;
  }

  &__info {
    position: relative;
    background: rgba(0, 0, 0, .5);
  }
  &__length {
    &-hours {
      font-size: 20px;
      line-height: 22px;
      text-transform: none;
    }
    position: absolute;
    width: 48px;
    height: 60px;
    top: 10px;
    left: 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }
  &__title {
    &-container {
      position: relative;
      width: 100%;
      height: 120px;
      width: calc(100% - 96px);
      margin-left: 96px;
      padding: 10px 15px 10px 15px;
      background: $brand-color;
    }
    &-angle {
      left: -72px;
    }
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }
  &__tagline {
    width: 100%;
    font-size: 12px;
    text-align: left;
  }

  &__stop {
    &-ul {
      display: block;
      position: relative;
      clear: both;
      height: 40px;
      background: $charcoal;
      margin-left: 24px;
    }
    &-li {
      display: inline-block;
    }
    &-angle {
      left: -24px;
    }
  }

  &__cta-ul {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 15px);
    clear: both;
  }
  &__cta-li {
    width: 100%;

  }


}


@media all and (min-width: 500px) {
  .tour-card {
    &__title {
      font-size: 20px;
    }
    &__tagline {
      font-size: 14px;
      line-height: 15px;
    }
  }

}
