.video-container {
    width: 100%;
    padding: 20px;
    &__video {
        display: block;
        margin: auto;
        width: 266px;
        height: 150px;
    }
}

@media all and (min-width: 600px) {
    .video-container {
        
        &__video {
            width: 560px;
            height: 315px;
        }
    }
}